*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.home {
    padding: 40px 8%;
        
}

.hero{
  background: linear-gradient(  #1A1B4B , #26A69A );

  border-radius:25px;

  padding:60px 60px 0;

  display:flex;

  justify-content:space-between;

  align-items:center;

  color:white;

  overflow:hidden;
  
}
.hero-left{
    width: 50%;
}
.hero-left h1{
    color: #FFFFFF;
  font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 25px;
}
.hero-left p{
    color: #E2E8F0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
.hero-left button{
  padding:15px 30px;

  border:none;

  border-radius:30px;

  background:white;

  color: #1A1B4B;
  font-weight: 600;

  font-size:16px;

  font-weight:bold;

  cursor:pointer;
}


.hero-right img{
  width:600px;
  height:auto;
   
  border-radius:20px;
}

.speciality-section{
  margin-top:80px;

  text-align:center;
}

.speciality-section h2{
  font-size:35px;
  color:#176159;

  margin-bottom:20px;
}
.speciality-section p{
  color:#1A1B4B;
  

  margin-bottom:50px;
}

.speciality-container{
  display:flex;

  justify-content:center;

  gap:40px;

  flex-wrap:wrap;
}