.profile-page{
    padding: 60px 10%;
    min-height: 80vh;

    display:flex;
    justify-content: center;
}
.profile-top{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-bottom:30px;
}
.profile{  
    display:flex;
    flex-direction: column;
    align-items: center;
}
.profile-top img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 15px;
}
.profile-top h1{
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #1e88e5;
}
.profile-info{
    margin-bottom: 20px;
}
.profile-info h3{
    margin-bottom: 15px;
    color: rgb(101, 6, 6);
    text-decoration: underline;

}
.info-row{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;

}
.info-row strong{
    width: 100px;
}

.info-row span{
    color:#1e88e5;
}

.edit-btn{
    padding:15px 40px;
    border:1px solid #1e88e5;
    background:white;
    color:black;
    border-radius:30px;
    cursor:pointer;
    transition:0.3s;
}

.edit-btn:hover{
    background:#1e88e5;
    color:white;
}

.edit-input{
    padding: 10px;
    border:1px solid black;
    border-radius: 8px;
    width: 250px;
}

hr{
    height:2px;
    background-color:black;
    margin:20px 0;
    width: 100%;

}
.file-input{
    margin-bottom: 15px;
}